<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wagle - 관리자 페이지</title>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <style>
        body{
            background: #ff6400;
            width: 850px;
            margin: 0 auto;
        }

        header{
            margin: 50px 0 10px 0;
        }

        header h1{
            margin: 0;
            color: #fff;
            font-family: helvetica, arial;
            text-align: center;
            font-size: 400%;
            cursor: pointer;
        }

        header p{
            position: relative;
            top: -10px;
            margin: 0;
            text-align: right;
            color: #fff;
        }

        header #admin_name{
            display: inline-block;;
            
        }
        header #logout_btn{
            text-decoration: none;
        }



        .content_wrap{
            width: 100%;
        }

        .content_title{
            background-color: #fff;
            text-align: center;
            padding: 20px 0;
            border-radius: 15px;
        }
        .content{
            margin-top: 30px;
            border: 1px solid #fff;
            background-color: #fff;
            padding: 3%;
        }
        .content table{
            width: 100%;
            border: 1px solid #ccc;
            border-collapse: collapse;

        }

        .content table tr, .content table th, .content table td{
            border: 1px solid #ccc;
            
        }


    </style>

    <script>
        let admin_key = `<%= admin['admin_key'] %>`
        let admin_name = `<%= admin['name'] %>`

        
        $(document).ready(function() {
            $('#admin_name').text(admin_name)
		});
    </script>
    
</head>
<body>
    
    <!-- #ff6400 -->

    <body>
        <header>
            <h1 onclick="location.href='/admin'">Wagle</h1>
            <p>
                <span id="admin_name"></span>
                <a href="/admin/login/logout" id="logout_btn">로그아웃</a>
            </p>
        </header>


        <div class="content_wrap">
            <div class="content_title">방명록 관리 - 장소등록</div>
            <div class="content">

                <table>
                    <tr>
                        <th>고유키</th>
                        <th>장소명</th>
                        <th>게시일</th>
                        <th>승인</th>
                    </tr>

                    <tr>
                        <td class="gp_key">1</td>
                        <td class="place">성산일출봉</td>
                        <td class="date">2020-10-10 11:11</td>
                        <td class="accept">true</td>
                    </tr>

                </table>

            </div>
        </div>

        

        
        
    </body>
</html>