<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wagle - 관리자 페이지</title>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <style>
        body{
            background: #ff6400;
            width: 850px;
            margin: 0 auto;
        }

        header{
            margin: 50px 0 10px 0;
        }

        header h1{
            margin: 0;
            color: #fff;
            font-family: helvetica, arial;
            text-align: center;
            font-size: 400%;
            cursor: pointer;
            transition: 0.3s;
        }
        header h1:hover{
            color: #000;
        }

        header p{
            position: relative;
            top: -10px;
            margin: 0;
            text-align: right;
            color: #fff;
        }

        header #admin_name{
            display: inline-block;;
            
        }
        header #logout_btn{
            text-decoration: none;
        }



        .content_wrap{
            width: 100%;
        }

        .content_title{
            background-color: #fff;
            text-align: center;
            padding: 20px 0;
            border-radius: 15px;
        }
        .content_title span{
            cursor: pointer;
        }
        .content_title span:hover{
            font-weight: bold;
        }
        .content{
            margin-top: 30px;
            border: 1px solid #fff;
            background-color: #fff;
            padding: 3%;
        }
        .content table{
            width: 100%;
            border: 1px solid #ccc;
            border-collapse: collapse;
            text-align: center;

        }

        .content table tr, .content table th, .content table td{
            border: 1px solid #ccc;
            padding: 1%;
        }

        .content table .book{
            text-decoration: underline;
            cursor: pointer;
        }
        .content table img{
            width: 50px;
            transition: 1s;
        }
        .content table img:active{
            width: 400px;

        }



    </style>

    <script>
        let admin_key = `<%= admin['admin_key'] %>`
        let admin_name = `<%= admin['name'] %>`

        
        $(document).ready(function() {
            $('#admin_name').text(admin_name)

            pageMove();
		});
    </script>
    
</head>
<body>
    
    <!-- #ff6400 -->

    <body>
        <header>
            <h1 onclick="location.href='/admin'">Wagle</h1>
            <p>
                <span id="admin_name"></span>
                <a href="/admin/login/logout" id="logout_btn">로그아웃</a>
            </p>
        </header>


        <div class="content_wrap">
            <div class="content_title">
                유저 관리
            </div>
            <div class="content">

                <table>
                    <!-- <tr>
                        <th>고유키</th>
                        <th>id</th>
                        <th>닉네임</th>
                        <th>프로필 이미지</소>
                    </tr> -->
                </table>

                <center>
                    <button class="prev_btn" onclick="pageMove('prev')">이전</button>
                    <button class="next_btn" onclick="pageMove('next')">다음</button>
                </center>
                

            </div>
        </div>

        
        <script>
            let page = 0;
            let cnt = 10;
        
            let table = document.getElementsByTagName("table")[0]
            
            const pageMove = function(move){
                let table_inner = `<tr>
                                    <th>고유키</th>
                                    <th>카카오 id</th>
                                    <th>닉네임</th>
                                    <th>프로필 이미지</th>
                                </tr>`;
                if(move === 'prev'){
                    page--;
                } else if(move === 'next') {
                    page++;
                } else {
                    page = 0;
                }
                
                if(page < 0){
                    page=0;
                    alert("첫번째 페이지 입니다.")
                }
                if(page > cnt){
                    page = cnt;
                    alert("마지막 페이지 입니다.")
                }
        
                $.ajax({
                    type:'get',
                    dataType:'json',
                    url:`/admin/manage/user/list?page=${page}`,
                    success : function(data) {
                        const user = data.result;
                        cnt = data.cnt;
                        for(let i=0; i<user.length; i++){
                            table_inner += `
                            <tr>
                                <td> 
                                    ${user[i]['user_key']}
                                </td>
                                <td>
                                    ${user[i]['id']}
                                </td>
                                <td> 
                                    ${user[i]['nickname']}
                                </td>
                                <td>
                                    <img src=${user[i]['img']}>
                                </td>
                            <tr>`
                        }
                        table.innerHTML = table_inner;
                    },
                    error : function(error) {
                    }
                });
            }
        </script>

        

        
        
    </body>
</html>